body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logoStyle {
  width: 50px;
}

nav {
  background-color: #00FF00;
  
}

body {
  background-color: #FF8000;
}

.cardStyle {
  margin-top: 50px;
}

.footerStyle {
  text-align: center;
  background-color: #00FF00;
  margin-top: 50px;
  
}